body {
  background: #eee;
  font-family: sans-serif;
}

*{
  font-size: 16px;
}

div{
  padding: 10px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 10px;
}

.button-container {
  background: #e3f4ff;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
}